<ion-view title="About Us">
  <ion-content >

    <div class="card">
      <div class="item item-text-wrap">
        Our aim is to help people eat better and live healthy lives.
      </div>
    </div>

    <!--<div class="list card">

      <div class="item item-avatar">
        <img src="img/kiran.JPG">
        <h2>Kiran Bodhasrungi</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/amar.jpg">
        <h2>Amar Nagarsurkar</h2>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Praveen Cingu</h2>
      </div>
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Ravi Chandra</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/meena.JPG">
        <h2>Meenakshi Tanwar</h2>
      </div>
    </div>-->

  </ion-content>
</ion-view>
