<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{facility.name}}">
  <ion-content has-header="true" padding="true">

    <div class="list card">
      <div class="item item-avatar" >
        <img src="img/{{facility.ESTABLISHMENT_STATUS}}.png" />
        <h2 ng-class="{'green': facility.ESTABLISHMENT_STATUS == 'Pass',
                                                    'orange': facility.ESTABLISHMENT_STATUS == 'ConditionalPass',
                                                    'red': facility.ESTABLISHMENT_STATUS == 'Failed',
                                                    'gray': facility.ESTABLISHMENT_STATUS == '' } ">  {{facility.ESTABLISHMENT_NAME}}</h2>
        <p>{{facility.ESTABLISHMENT_ADDRESS}}</p>
      </div>

      <div class="item item-body">
        <div class="item tabs tabs-icon-left">
          <a class="tab-item" href="#" ng-click="shareAnywhere()">
            <i class="icon ion-ios-upload-outline"></i>
            Share
          </a>
          <a class="tab-item" href="#">

          </a>
          <a class="tab-item" href="#/tab/home/report">
            <i class="icon ion-ios-email-outline"></i>
            Report
          </a>
        </div>
        <div class="card" ng-repeat="inspection in facility.inspections | orderBy:'-INSPECTION_YEAR'">


          <div class="item item-divider" >
            <div ng-class="{'green': inspection.ESTABLISHMENT_STATUS == 'Pass',
                                                    'orange': inspection.ESTABLISHMENT_STATUS == 'ConditionalPass',
                                                    'red': inspection.ESTABLISHMENT_STATUS == 'Failed',
                                                    'gray': inspection.ESTABLISHMENT_STATUS == '' } ">
              <i class="ion-ios-checkmark-outline"></i>  {{inspection.ESTABLISHMENT_STATUS}} <span style="color:black;" class="item-note">{{inspection.INSPECTION_YEAR}}</span></div>
          </div>

          <div class="item item-text-wrap" ng-repeat="item in inspection.infractions">
            <div class="row responsive-sm" >
              <div class="col" ng-class="{'green': item.SEVERITY == 'M - Minor',
                                                    'orange': item.SEVERITY == 'S - Significant',
                                                    'red': item.SEVERITY == 'C - Crucial',
                                                    'gray': item.SEVERITY == 'NA - Not Applicable' } ">
                <i class="ion-ios-compose-outline"></i>  {{item.SEVERITY}}
                <span style="color:black;" class="item-note">{{item.INSPECTION_DATE}}</span>
              </div>

            </div>
            <div class="row responsive-sm" ng-class="{'hideElement': item.INFRACTION_DETAILS!= ''}">
              <div class="col"><i>No observation recorded. </i></div>
            </div>
            <div class="row responsive-sm" ng-class="{'hideElement': item.INFRACTION_DETAILS== ''}">
              <div class="col col-20"><b>Details: </b></div>
              <div class="col col-80">{{item.INFRACTION_DETAILS}}</div>
            </div>
            <div class="row responsive-sm" ng-class="{'hideElement': item.ACTION== ''}">
              <div class="col col-20"><b>Action: </b></div>
              <div class="col col-80">{{item.ACTION}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
