<ion-view title="Home">

  <ion-nav-buttons side="right">
    <!--<button ng-click="loadMap();" class="button button-icon icon ion-map"></button> -->
    <a class="button button-clear button-assertive" href="#/tab/home/map">Map</a>
  </ion-nav-buttons>

  <ion-content>
    <form ng-submit="searchFacility(strsearch)">
      <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label">
            Select City
          </div>
          <select>
            <option selected>Toronto</option>
          </select>
        </label>

        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search Establishment by Name" ng-model="strsearch" name="strsearch">
        </label>
      </div>
    </form>

    <div class="list list-inset">
      <ion-list>
        <ion-item ng-repeat="facility in facilitylist" type="item-text-wrap" href="#/tab/home/facility/{{facility.id}}">
          {{facility.ESTABLISHMENT_NAME}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
