<ion-view title="Report">
  <ion-content class="padding">

    <div class="list">

      <div class="item item-divider">
        User Details
      </div>

      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>

      <a class="item item-icon-left" href="#" ng-click="addImage()">
        <i class="icon ion-paperclip"></i>
        Attach document
      </a>


      <textarea class="report-textarea" placeholder="Enter content here.." rows="10">
      </textarea>

      </div>

    <button class="button button-block button-dark" >
      <button class="button" ng-click="shareAnywhere()">Share anywhere</button>
      <button class="button" ng-click="shareViaFacebook('ionic share facebook test', null, '')">Share on Facebook</button>
      Submit
    </button>
  </ion-content>
</ion-view>
